@font-face {
    font-family: 'Eras Bold ITC';
    src: url('../fonts/eras-itc-bold.ttf') format('truetype'); /* Chemin vers le fichier de police */
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Eras Bold ITC', sans-serif;
}


body {
    background-color: black;
    color: rgb(245, 222, 179);
    margin: 0;
    padding: 0;
}

nav{
    
    margin-right: 10%;
} 

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: rgb(245, 222, 179);
    text-decoration: none;
    position: relative; /* Nécessaire pour que le ::after soit positionné par rapport à l'élément <a> */
    transition: 1s;
}

/* Ajouter un soulignement sous chaque lien */

.nav-a-hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Épaisseur du soulignement */
    background-color: gray; /* Couleur du soulignement */
    left: 0;
    bottom: -3px; /* Positionner juste en dessous du lien */
    transform: scaleX(0); /* Initialement, le soulignement est invisible */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

/* Animation du soulignement au survol */
nav ul li a:hover::after {
    transform: scaleX(1); /* Le soulignement devient visible */
    transform-origin: bottom left;
}

/* .nav-logo{
    width: 20%;
} */


.nav-a-contact-chgmt:hover {
    content: url('../img/logo\ contact-hover.png'); /* Chemin de la nouvelle image */
}

/* 
.nav-logo-accueil img,
.nav-logo-mission img,
.nav-logo-contact img{
    width: 80%;
} */

.text-bleu{
    color: rgb(179,208,245);
}

.main-span1{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.main-span1-txt1,
.main-span1-txt2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


